.about-us {
  @include page-grid;

  background-color: #fcfaef;

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: 8 / 13;
    }
  }

  &__description {
    margin: 0;
    line-height: 140%;
  }
}
