.categories {
  display: grid;
  row-gap: 40px;

  &__wraper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }

    @include on-desktop {
      grid-column: span 12;
    }
  }

  &__button {
    height: 56px;
    border-radius: 8px;
    background-color: #f98921;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #fff;

    @include on-desktop {
      grid-column: span 4;
    }
  }
}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__link {
    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__photo {
    width: 100%;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
  }
}
