.contact-us {
  @include page-grid;

  width: 100%;
  display: grid;

  &__title {
    grid-column: 1 / -1;
  }

  &__form {
    display: grid;
    row-gap: 16px;
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__textarea {
    min-height: 148px;
    grid-column: 1 / -1;
  }

  &__input,
  &__textarea {
    box-sizing: border-box;
    width: 100%;
    background: #f9f9f9;
    border: 1px solid transparent;
    font-size: 14px;
    padding: 14px;
    padding-left: 16px;
    border-radius: 8px;
    outline: none;
    resize: none;

    &::placeholder {
      color: #7e7e83;
    }

    &:hover {
      border: 1px solid #dbdbdb;
      background: #f9f9f9;
    }

    &:focus {
      border: 2px solid #f98921;
      background: #f9f9f9;
    }
  }

  &__button {
    margin-top: 32px;
    margin-bottom: 48px;
    height: 56px;
    background: #f98921;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: #1b2129;
    }

    &:active {
      background: #010810;
    }

    @include on-tablet {
      margin-bottom: 80px;
    }
  }

  &__info {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: 8 / 13;
    }
  }
}

.info-block {
  margin-bottom: 24px;

  &__label {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #9393a3;
    margin-bottom: 8px;
  }

  &__value {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #191919;
  }
}
