.header {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 36px;
    line-height: 100%;
    vertical-align: middle;
    color: #fff;

    @include on-tablet {
      font-size: 48px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }
}
