.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-bg-phone.png);
  background-size: cover;
  background-position: center;

  @include on-tablet {
    background-image: url(../images/header-bg-tablet.png);
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 152px;
    height: 16px;

    @include on-tablet {
      width: 228px;
      height: 24px;
    }
  }

  &__title {
    margin: 0;
    font-size: 36px;
    line-height: 100%;
    vertical-align: middle;
    color: #fff;

    @include on-tablet {
      font-size: 48px;
    }
  }

  &__bottom {
    padding-bottom:40px;

    @include content-padding-inline;
  }
}







