/* #region page */
.page {
  font-family: Manrope, sans-serif;
  color: #1B2129;
  size: 16px;
  line-height: 140%;

  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

/* #endregion */

/* #region header */
.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-bg-phone.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 152px;
  height: 16px;
}

.header__title {
  margin: 0;
  font-size: 36px;
  line-height: 100%;
  vertical-align: middle;
  color: #FFF;
}

.header__bottom {
  padding: 0 24px 40px;
}

/* #endregion */

/* #region menu */
.top-bar {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.top-bar__logo {
  display: flex;
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #F9F9F9;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-top {
  margin-bottom: 32px;
}

.menu__nav {
  margin-bottom: 48px;
}

.menu-content {
  padding-inline: 20px;
}

.menu__phone-number {
  margin-bottom: 16px;
  color: #1B2129;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
}

.menu__call-to-order {
  color: #1B2129;
  text-decoration: none;
  display: block;
  padding-bottom: 4px;
  border-bottom: 1px #1B2129 solid;
  width: fit-content;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
}

/* #endregion */

/* #region nav */
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
color: #1B2129;
text-decoration: none;
font-size: 22px;
line-height: 22px;
}

/* #endregion */

/* #region icon */
.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.icon--phone {
  background-image: url(../images/icon/icon-phone-call.png);
}

.icon--menu {
  background-image: url(../images/icon/icon-burger-menu.png);
}

.icon--close {
  background-image: url(../images/icon/icon-close.png);
}

/* #endregion */
