html {
  font-family: "Manrope", sans-serif;
  color: #1B2129;
  size: 16px;
  line-height: 140%;
}

body {
  margin: 0;
}

/* #region header */
.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-bg-phone.png);
  background-size: cover;
  background-position: center;
  padding: 24px 20px 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 152px;
  height: 16px;
}

.header__icons {
  display: flex;
  gap: 24px;
}

.header__title {
  margin: 0;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #FFFFFF;
;}
/* #endregion */
/* #region icon */
.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.icon--phone {
  background-image: url(../images/icon/icon-phone-call.png);
}

.icon--menu {
  background-image: url(../images/icon/icon-burger-menu.png);
}

/* #endregion */
