.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #f9f9f9;
  font-weight: 700;
  text-transform: uppercase;

  &-top {
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 48px;
  }

  &-content {
    @include content-padding-inline;
  }

  &__phone-number {
    margin-bottom: 16px;
    color: $main-text-color;
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;

    &:hover {
      color: #705439;
    }
  }

  &__call-to-order {
    color: $main-text-color;
    text-decoration: none;
    display: block;
    padding-bottom: 4px;
    border-bottom: 1px $main-text-color solid;
    width: fit-content;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;

    &:hover {
      color: #705439;
    }
  }
}

